
.products-page {
	margin: 20px;
  }
  
  .product-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
  }
  
  .products-heading{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  /* Add more styles as needed for the product listing page */
  
  