.email-page{
	/* height: 100vh; */
	background-color: #DDD0C8;
}
.btn{
	justify-content: end;
}

.left-column{
	display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.email-img{
	max-width: 100%;
    padding: 2em;
    border-radius: 4px;
}

@media screen and (max-width:1200px){
	.left-column{
		display: none;
	}
}